# Public configuration
NEXT_PUBLIC_BASE_URL=https://mcdaves.com.ng

# Paystack
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=

# Forms
NEXT_PUBLIC_FORMSPREE_CONTACT_ID=
NEXT_PUBLIC_FORMSPREE_B2B_ID=
NEXT_PUBLIC_FORMSPREE_NEWSLETTER_ID=

# Analytics
NEXT_PUBLIC_GA4_ID=

# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=
